/*=============================================
TOP
=============================================*/
/*.barraSuperior{
    z-index: 1000;
    position: fixed;
    width: 100%;
    top: 0;
}*/

#top ul {
    padding-top: 8px;
}

#top ul li {
    display: inline;
    line-height: 30px;
    margin: 0px 5px;
    color: white;
}

.social ul li a i {
    font-size: 18px;
    margin: 0 1px;
}

.registro ul {
    text-align: right;
    font-size: 12px;

}

.registro ul li a {
    font-family: 'Montserrat', sans-serif;
}

/*=============================================
HEADER
=============================================*/

header {
    background-image: url("../../../backend/views/img/slide/default/back_default.jpg");
    background-position: center;
}

header #btnCategorias {
    margin: 20px 0;
    width: 100%;
    background-color: #e8ecf1;
    border-radius: 25px;
}

header #btnCategorias p {
    line-height: 50px;
    margin-bottom: 0px;
    cursor: pointer;
    width: 100%;
}

header #btnCategorias p span {
    cursor: pointer;
}

header #buscador {
    margin: 20px 0;
}

header #buscador input {
    padding: 19px;
    border-radius: 0;
}

header #buscador button {
    padding: 9px;
    border: 1px solid silver;
    border-radius: 0;
}

header #carrito {
    margin: 20px 0;
}

header #carrito button {
    padding: 9px 15px;
    border: 1px solid silver;
    border-radius: 0;
}

header #carrito p {
    padding: 2px;
    padding-left: 60px;
    border: 1px solid #aaa;
    font-size: 12px;
}

header #categorias {
    display: none;
    margin-top: -10px;
    position: relative;
    padding-bottom: 20px;
    /*background-color: #e8ecf1;*/
    color: #0a0a0a;
}

header #categorias a {
    color: #0a0a0a;
}

header #categorias h4 {
    margin-top: 20px;
    margin-bottom: -10px;
}

header #categorias hr {
    border: 1px solid rgba(255, 255, 255, .3);
}

header #categorias li {
    font-size: small;
    font-weight: lighter;
    padding: 0;
}

header .limiter {
    background-color: #81cfe0;
}

#head {
    margin: 60px;
}

#header #logo {
    margin-top: 25px;
}

.registro #searchButton {
    border: 0;
    background-color: transparent;
    color: inherit;
    font-family: 'Montserrat', sans-serif
}

.barraSuperior {
    font-family: 'Montserrat', sans-serif
}

.barraSuperior a {
    color: #2e3131;
}

.backColor, .backColor a {
    background: #47bac1;
    color: white;
}

/*=============================================
EDITAR SEARCH MODAL
=============================================*/

body.modal-open .supreme-container {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);

}

.modal-content {
    border: 0;
    border-radius: 0;
    padding: 10px;
    position: relative;

}

.modal-header h4 {
    font-family: 'Ubuntu', sans-serif;

}

.modal-body input {
    border-radius: 30px;
    background-color: gainsboro;
    color: #595959;
    font-style: italic;
}

.modal-body button {
    border: 0;
    margin-left: 15px;
    background-color: #dcdcdc;
    color: darkslategray;
    border-radius: 30px;
}

/*=============================================
EDITAR MENU MODAL
=============================================*/

#menu-modal-content {
    width: 800px;
    border: 0;
    border-radius: 0;
    height: 530px;
    padding: 10px;
    position: relative;
}

#menu-modal-body {
    width: 800px;
    height: 500px;
}

#menu-modal-body div {
    padding: 0;
    margin: 12px;
}
#menu-modal-body #menu-content {
    width: 94%;
}

#menu-modal-body h4 {

    font-size: small;
}

/*=============================================
EDITAR REGISTRO MODAL
=============================================*/


.modalForm .facebook ,  .modalForm .google{
    cursor: pointer;
}

.modalForm .facebook p , .modalForm .google p{
    color: white;
    text-align: center;
    line-height: 40px;
    padding: 8px;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.modalForm .facebook p{
    background: #46639f;

}.modalForm .google p{
    background: #d6513e;
}

 .modalForm p i{
     margin-left: -25px;
     margin-right: 25px;
     font-size: 25px;
 }


/*=============================================
ESCRITORIO GRANDE (LG revisamos en 1366px en adelante)
=============================================*/

@media (min-width: 1200px) {

    /*=============================================
    HEADER
    =============================================*/
    header #logotipo img {
        margin-top: 10px;
        padding: 20px 10px;
        padding-left: 0px;
    }

    header #carrito {
        padding-left: 100px;
    }

    .modalForm .facebook p{
        margin-right: -15px;
    }

}

/*=============================================
ESCRITORIO MEDIANO O TABLET HORIZONTAL (MD revisamos en 1024px)
=============================================*/

@media (max-width: 1199px) and (min-width: 992px) {

    /*=============================================
    HEADER
    =============================================*/
    header #logotipo img {
        margin-top: 10px;
        padding: 25px 10px;
        padding-left: 0px;
    }

    header #carrito {
        padding-left: 70px;
    }

    .modalForm .facebook p{
        margin-right: -15px;
    }

}

/*=============================================
ESCRITORIO PEQUEÑO O TABLET VERTICAL (SM revisamos en 768px)
=============================================*/

@media (max-width: 991px) and (min-width: 768px) {

    /*=============================================
    HEADER
    =============================================*/
    header #logotipo img {
        margin-top: 10px;
        padding: 30px 0px;
    }

    header #carrito {
        padding-left: 55px;
    }

    header #carrito p {
        display: none;
    }

    #head {
        margin: 0;
    }

    #menu-modal-body {
        width: 595px;
        height: 1000px;
    }


    #menu-modal-content {
        width: 595px;
        height: 1000px;

    }

    #menu-modal-body #menu-content {
        width: 100%;
    }

    .modalForm .facebook p{
        margin-right: -15px;
    }

}

/*=============================================
MOVIL (XS revisamos en 320px)
=============================================*/

@media (max-width: 767px) {

    /*=============================================
    TOP
    =============================================*/
    #top ul {
        text-align: center;
    }

    #top #registro {
        border-top: 1px solid #222;
    }

    /*=============================================
    HEADER
    =============================================*/
    header #logotipo img {
        padding: 30px;
        padding-bottom: 10px;
    }

    header #categorias {
        margin-bottom: 10px;
    }

    header #buscador {
        margin-bottom: 10px;
    }

    header #carrito {
        margin: 0px;
    }

    #head {
        margin: 0;
    }

    #menu-modal-body {
        width: 300px;
        height: 1000px;
    }


    #menu-modal-content {
        width: 300px;
        height: 1000px;

    }

    #menu-modal-body #menu-content {
        width: 30%;
    }

    .modalForm .google p{
        margin-top: -15px;
    }

    .modalForm .facebook , .modalForm .google{
        padding: 5px;
    }

}
