/*Slide content*/
#slide {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin-top: 0;
}

#slide ul {
    position: relative;
    left: 0%;
    margin: auto;
    height: auto;
    width: 400%;
    clear: both;
    display: table;
}

/*Each slide*/

#slide ul li {
    position: relative;
    float: left;
    width: 25%;
}

#slide ul li img {
    width: 100%;
}

/*Slide configuration*/

#slide .textosSlide {
    background: rgba(0, 0, 0, .05);
    padding: 15px;
}

#slide .slideOpciones button {
    border: 0;
    margin-top: 10px;
    padding: 10px;
    opacity: 1;
    top: -10%;

}

#slide .slideOpciones h1 {
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    opacity: 1;
    top: -10%;
    line-height: 1;

}

#slide .slideOpciones h2 {
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    opacity: 1;
    top: -10%;
    line-height: .5;

}

#slide .slideOpciones h3 {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    opacity: 1;
    top: -10%;
    line-height: .5;

}

#slide .slideOpciones button{
    border-radius: 80px;
    margin: 15px auto;
}

#slide .slideOpciones button span {
    margin-left: 10px;
}

#slide .slideOpciones button:hover {

    background: black;
    color: white;
    border: 0;
}

#slide .slideOpcion1 img {
    position: absolute;
    opacity: 1;
    /* top: 15%;
     right: 10%;
     width: 45%;*/
}

#slide .slideOpcion1 .textosSlide {

    position: absolute;

}

#slide .slideOpcion2 img {
    position: absolute;
    opacity: 1;

}

#slide .slideOpcion2 .textosSlide {
    position: absolute;
    text-align: right;


}

/*Arrows*/

#slide .flechas {

    position: absolute;
    font-size: 2em;
    /*  color: white;*/
    cursor: pointer;
    z-index: 2;
}

#slide #retroceder, #slide #avanzar {
    background: #eeeeee;
}

#slide #retroceder {

    padding: 40px 15px 40px 10px;
    top: 37%;
    left: 0;
    font-size: 22px;
    opacity: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

#slide #avanzar {

    padding: 40px 10px 40px 15px;
    top: 37%;
    right: 0;
    font-size: 22px;
    opacity: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;

}

#slide #retroceder:hover, #slide #avanzar:hover {
    /* background: #777;*/
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

}

#slide #retroceder:active, #slide #avanzar:active {
    background: #d2d7d3;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

}

/* Pagination */

#slide #paginacion {

    position: absolute;
    width: 100%;
    margin: auto;
    text-align: center;
    line-height: 40px;
    font-size: 12px;
    bottom: 0px;
    left: 0;
    z-index: 1;
    background: rgba(0, 0, 0, .05);
}

#slide #paginacion li {
    display: inline-block;
    margin: 0px 5px;
    cursor: pointer;
    opacity: .5;
    color: white;
    text-shadow: 0px 0px 5px #333;
}

#slide #paginacion li:first-child {
    opacity: 1;
}

#slide .controls {
    position: absolute;
    font-size: 2em;
    color: white;
    cursor: pointer;
    z-index: 2;
}

#slide #play {
    color: #888;
    padding: 15px;
    top: -1%;
    right: -5px;
    font-size: 35px;
    opacity: 1;
}

#slide #play:hover {
    color: #777;
}

#slide:hover, #btnSlide {
    opacity: 1;
}

#btnSlide {
    background: none;
    width: 10%;
    height: 50px;
    border: 0;
    opacity: 0;
    font-size: xx-large;
    padding: 2px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    cursor: pointer;

}

#btnSlide:hover {
    opacity: 1;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    background: none;

}

/*=============================================
ESCRITORIO GRANDE (LG revisamos en 1366px en adelante)
=============================================*/

@media (min-width: 1200px) {

}

/*=============================================
ESCRITORIO MEDIANO O TABLET HORIZONTAL (MD revisamos en 1024px)
=============================================*/

@media (max-width: 1199px) and (min-width: 992px) {

    #slide .slideOpciones h1 {
        font-size: 30px;
        margin-top: 5px;
    }

    #slide .slideOpciones h2 {
        font-size: 25px;
    }

    #slide .slideOpciones h3 {
        font-size: 18px;

    }

    #slide .slideOpciones button {
        margin-top: 10px;
        padding: 5px;
    }

}

/*=============================================
ESCRITORIO PEQUEÑO O TABLET VERTICAL (SM revisamos en 768px)
=============================================*/

@media (max-width: 991px) and (min-width: 768px) {

    #slide #retroceder, #slide #avanzar {
        top: 35%;
        padding: 30px 8px 30px 5px;
    }

    #slide .slideOpciones h1 {
        font-size: 25px;
        margin-top: 5px;
    }

    #slide .slideOpciones h2 {
        font-size: 20px;

    }

    #slide .slideOpciones h3 {
        font-size: 13px;

    }

    #slide .slideOpciones button {
        margin-top: 4px;
        padding: 5px;
    }

    #slide .controls {
        display: none;
    }

    #btnSlide {
        width: 100%;
        height: 50px;
        opacity: 1;

    }

    #slide .textosSlide {
        height: 150px;
    }

}

/*=============================================
MOVIL (XS revisamos en 320px)
=============================================*/

@media (max-width: 767px) {

    #slide #retroceder, #slide #avanzar {
        display: none;
    }

    #slide .slideOpciones h1 {
        font-size: 15px;
        margin-top: -15px;
        margin-left: 20px;
        margin-bottom: -20px;
    }

    #slide .slideOpciones h2 {
        display: none;
    }

    #slide .slideOpciones h3 {
        display: none;
    }

    #slide .slideOpciones button {

        margin-top: 25px;
        padding: 5px 5px;
        font-size: 10px;
    }

    #slide .controls {

        display: none;
    }

    #btnSlide {
        width: 100%;
        height: 50px;
        opacity: 1;
        display: none;

    }
}










